.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 40px;
   
  
}

.box{
    background-color: rgb(27, 110, 127);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column-reverse; 
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
